<!-- 带有ngForm属性的表单会被Angular接管， 带有ngNoForm的会取消接管 -->

<form #myForm="ngForm" (ngSubmit)="createUser(myForm.value)" action="/regist" method="post">
<!-- <form action="/regist" method="post" ngNoForm> -->
<!-- <div ngForm> -->
  <div>昵称：<input #myNickName="ngModel" ngModel name="nickname"         type="text" required pattern="[a-zA-Z0-9]+"></div>
  <div>手机号：<input type="text"></div>
  <div>邮政编码：<input type="number" min="100000" max="999999"></div>


  <div ngModelGroup="passwordInfo">
    <div>密码：<input ngModel name="password" type="password"></div>
    <div>确认密码：<input ngModel name="confirmPassword" type="password"></div>
  </div>


  <button type="submit">注册</button>
<!-- </div> -->
<!-- </form> -->
</form>

<div>
  {{myForm.value | json}}
</div>

<div>
  昵称的值是{{myNickName.value}}
</div>